*.dll
*.exe
bin
*.mdb
*.obj
*.resharper
*.pidb
*.userprefs
src/MonoReports/obj/*
src/MonoReports/obj/Debug/*
src/MonoReports.Tests/test-results/*
src/MonoReports.Model/obj/*
src/MonoReports.Model/obj/Debug*
src/MonoReports.Tests/obj/*
src/MonoReports.Tests/obj/Debug/*
src/Propertygrid/obj/*
src/Propertygrid/obj/Debug/*
doc/example/MrptInvoiceExample/MrptInvoiceExample/obj/*
config.log
config.make
MonoReports.suo
build
